/* Estilo para el cuerpo de la página */
body {
    background: linear-gradient(to bottom, #08141d, #121f2a);
    width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
}

/* Estilo para la zona de la fotografía */
/* Estilo para la zona de la fotografía */
figure {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3498db;
    float: left;
    transition: background 0.3s;
    border-radius: 50%; /* Borde redondeado para hacer que la imagen sea circular */
    overflow: hidden; /* Ocultar partes de la imagen que se salen del círculo */
    margin: 0;
}


/* Estilo para el título y subtítulo de la página */
#titulo, #subtitulo {
    width: 800px;
    height: 100px;
    float: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilo para el texto dentro del título y subtítulo */
#titulo p, #subtitulo p {
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}

#titulo p {
    font-size: 45px;
    margin: 0;
    color: #3498db; /* Nuevo color */
}

#subtitulo p {
    font-size: 30px;
    margin: 0;
    color: #0e0e0c; /* Nuevo color */
}

/* Estilo para el menú de navegación */
nav {
    width: 1000px;
    height: 60px;
    background: transparent;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Estilo para los elementos de la lista del menú */
nav ul li {
    display: inline-block;
    margin: 5px;
}

/* Estilo para los enlaces en el menú */
nav ul li a {
    color: #f2f2f2;
    font-size: 17px;
    text-decoration: none;
    transition: font-size 0.3s, color 0.3s;
}

/* Estilo para los enlaces en el menú cuando se hace hover */
nav ul li a:hover {
    font-size: 25px;
    color: #3498db;
}

/* Estilo especial para el enlace "Contacto" en hover */
nav ul li #contacto:hover {
    font-size: 25px;
    color: #e74c3c;
    text-shadow: 2px 2px 4px #000;
}

/* Estilo para secciones y aside */
section, aside {
    display: inline-block;
    margin: 5px 0 0;
    vertical-align: top;
    text-align: justify;
}

/* Estilo para las secciones */
section {
    width: 570px;
    border: 2px solid #760001;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: justify;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

/* Estilo para los artículos */
article {
    padding: 20px;
}

/* Estilo para el primer artículo */
#perfil {
    background: #3498db; /* Nuevo color que combina */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilo para el segundo artículo */
#miproyecto {
    background: #2a251b; /* Nuevo color que combina */
}

/* Estilo para el aside */
aside {
    width: 180px;
    position: relative;
    background: rgba(199, 225, 226, 0.9);
    box-shadow: 0 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 10px;
    color: #0b111e;
    font-size: 0.9em;
}
